<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPU-Video-Edit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>194372971CBDE6A80081B04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>194372B01CBDE6A80081B04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>194372BB1CBDE6A80081B04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
